html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 4000px;
}

.card:hover,
.card:focus,
.card:active {
  color: #fc6e75;
  border-color: #fc6e75;
  cursor: pointer;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

img {
  cursor: pointer;
}
nav > a:hover {
  color: #fc6e75;
}